body{
    margin: 0px;
}
.nav {
    list-style: none;
    padding: 12px 14px 12px 29%;
    width: 100%;
    background-color: #333;
    margin: auto;
}   
.nav li a{
    /* any link inside li and inside any element has nav class */
    text-decoration: none;
    color: white;
    padding: 12px 14px 12px 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serial;
    font-size: 2vw;
}

.nav li{
    display: inline;
    padding-top: 8px;
    padding: 12px 14px 12px 14px;
}
.active{
    background-color: green;
    padding: 12px 14px 12px 14px;
}
.nav li:hover{
    padding: 12px 14px 12px 14px;
    background-color: aliceblue;
    color: black;
}